<div class="card card-background">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
          <h5 class="card-title">Titolo</h5>
          <p class="card-text">{{ reviews.title }}</p> 
      </div>
      <div class="col-md-2 text-center">
          <h5 class="card-title">Utente</h5>
          <p class="card-text">{{ reviews.user }}</p>
      </div>
      <div class="col-md-6">
          <h5 class="card-title">Descrizione</h5>
          <p class="card-text">{{ reviews.description }}</p>
      </div>
    </div>
  </div>
</div>